<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    
    <property name="log.context.name" value="pom-socket-client" />
    <property name="log.charset" value="UTF-8" />
    <property name="log.pattern" value="[%-5level] %date --%thread-- [%logger] %msg %n" />
    
    <contextName>${log.context.name}</contextName>
    
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="${log.charset}">
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <!-- 可让每天产生一个日志文件，最多 5 个，自动回滚 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- <fileNamePattern>logs/pom-socket-client-%d{yyyy-MM-dd}.log</fileNamePattern> -->
            <fileNamePattern>D:/socket/logs/pom-socket-client-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>pom-socket-client %d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>
    <root>
        <level value="INFO" />
        <!-- <level value="ERROR" /> -->
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
    
</configuration>
